In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://ellieking@localhost:5432/givedata_180502')

In [4]:
int_meta = pd.read_sql_query('select * from "ar_internal_metadata"',con=engine)

In [5]:
int_meta.head()

,key,value,created_at,updated_at
0,environment,production,2017-02-13 16:16:49.504195,2017-02-13 16:16:49.504195

In [6]:
int_meta.shape

(1, 4)

In [7]:
dates = pd.read_sql_query('select * from "dimensions_dates"',con=engine)

In [8]:
dates.shape

(21, 18)

In [9]:
sum(dates.duplicated())

0

In [10]:
dates[dates.duplicated(keep=False)].sort_values(by='date')

Empty DataFrame
Columns: [date, date_name, date_name_abbreviated, year, quarter, month, month_name, month_name_abbreviated, week, day_of_year, day_of_quarter, day_of_month, day_of_week, day_name, day_name_abbreviated, weekday_weekend, created_at, updated_at]
Index: []

In [12]:
dates['date'] = pd.to_datetime(dates['date'])

In [13]:
min(dates['date'])

Timestamp('2018-04-01 00:00:00')

In [14]:
max(dates['date'])

Timestamp('2018-05-02 00:00:00')

In [ ]:
items = pd.read_sql_query('select * from "dimensions_items"',con=engine)

In [ ]:
items.columns

In [35]:
items.head()

,id,content_id,title,base_path,description,created_at,updated_at,latest,raw_json,number_of_pdfs,...,spell_count,string_length,sentence_count,word_count,primary_organisation_title,primary_organisation_content_id,primary_organisation_withdrawn,content_hash,outdated_at,locale
0,3427447,4f52576b-fc19-49e9-a08c-4b50b8a6e574,Personal tax credits: provisional statistics,/government/statistics/announcements/personal-...,None,2018-04-10 12:08:41.120071,2018-04-13 22:48:35.848940,True,"{'analytics_identifier': None, 'base_path': '/...",0.0,...,1.0,237.0,2.0,45.0,None,None,None,68a9da8d6a14248bad202a8396ac5c4e06e30edc,NaT,en
1,3427453,64b0b78f-1450-44bc-a32f-41937a3ee120,Mrs Sarah Bedwell,/government/people/sarah-bedwell,None,2018-04-10 12:08:41.120071,2018-04-10 13:40:17.300626,True,"{'analytics_identifier': None, 'base_path': '/...",0.0,...,NaN,0.0,0.0,0.0,None,None,None,None,NaT,en
2,3427471,5e16850d-7631-11e4-a3cb-005056011aef,Rhoi gwybod am eich cyflwr meddygol (AUD1W),/government/publications/aud1-online-confident...,None,2018-04-10 12:08:41.120071,2018-04-10 13:40:17.753162,True,"{'analytics_identifier': None, 'base_path': '/...",1.0,...,NaN,0.0,0.0,0.0,Driver and Vehicle Licensing Agency,70580624-93b5-4aed-823b-76042486c769,False,66e13e1116f989901e636475a8b9ccfccac92704,NaT,cy
3,3427444,bc34fc90-df5a-4338-b9f3-c7428f946b7a,Mrs A Moseka v Sheffield Teaching Hospitals NH...,/employment-appeal-tribunal-decisions/mrs-a-mo...,None,2018-04-10 12:08:41.120071,2018-04-13 22:48:35.480869,True,"{'analytics_identifier': None, 'base_path': '/...",0.0,...,5.0,110.0,1.0,23.0,None,None,None,edac9f58965dade1f71b353056a7948a693c50a8,NaT,en
4,3427657,f3bbdec2-0e62-4520-a7fd-6ffd5d36e03a,GOV.UK homepage,/,None,2018-04-10 12:08:41.120071,2018-04-10 13:40:26.535355,True,"{'analytics_identifier': None, 'base_path': '/...",0.0,...,NaN,0.0,0.0,0.0,None,None,None,None,NaT,en

In [36]:
items.shape

(487994, 36)

In [ ]:
content_performance_bytime = pd.merge(
    left=facts_metrics,
    right=items,
    left_on='dimensions_item_id', #
    right_on='id', # 
    how='outer', # keep everything for checking merge
    indicator=True # so we can filter by match type
)

In [ ]:
content_performance_bytime.columns

In [ ]:
content_performance_bytime.dtypes

In [7]:
feedex = pd.read_sql_query('select * from "events_feedexes"',con=engine)

In [15]:
feedex.head()

,id,date,page_path,feedex_comments
0,2,2018-02-28,/annual-test-for-lorries-buses-and-trailers/bo...,1
1,365,2018-02-27,/1619-bursary-fund/further-information,1
2,1120,2018-02-25,/agency-workers-your-rights/pay,1
3,2256,2018-02-28,/annual-test-for-lorries-buses-and-trailers/bo...,1
4,368,2018-02-27,/after-a-death/organisations-you-need-to-conta...,1

In [16]:
feedex.shape

(4612, 4)

In [8]:
ga = pd.read_sql_query('select * from "events_gas"',con=engine)

In [17]:
ga.head()

,id,date,page_path,pageviews,unique_pageviews,created_at,updated_at
0,7961022,2018-04-09,/?,1,1,2018-04-10 12:42:46.146280,2018-04-10 12:42:46.146280
1,7961023,2018-04-09,/?backtopage=https://passportapplication.servi...,1,1,2018-04-10 12:42:46.146280,2018-04-10 12:42:46.146280
2,7961024,2018-04-09,/?backtopage=https://passportapplication.servi...,1,1,2018-04-10 12:42:46.146280,2018-04-10 12:42:46.146280
3,7961025,2018-04-09,/?backtopage=https://passportapplication.servi...,31,31,2018-04-10 12:42:46.146280,2018-04-10 12:42:46.146280
4,7961026,2018-04-09,/?backtopage=https://passportapplication.servi...,4,4,2018-04-10 12:42:46.146280,2018-04-10 12:42:46.146280

In [18]:
ga.shape

(422252, 7)

In [9]:
facts_metrics = pd.read_sql_query('select * from "facts_metrics"',con=engine)

In [19]:
facts_metrics.head()

,id,dimensions_date_id,dimensions_item_id,created_at,updated_at,pageviews,unique_pageviews,feedex_comments
0,33196515,2018-04-14,3063416,2018-04-15 01:05:45.989887,2018-04-15 01:05:45.989887,0,0,0
1,33196516,2018-04-14,3063417,2018-04-15 01:05:45.989887,2018-04-15 01:05:45.989887,0,0,0
2,33196517,2018-04-14,3063418,2018-04-15 01:05:45.989887,2018-04-15 01:05:45.989887,0,0,0
3,33196518,2018-04-14,3063419,2018-04-15 01:05:45.989887,2018-04-15 01:05:45.989887,0,0,0
4,33196519,2018-04-14,3063420,2018-04-15 01:05:45.989887,2018-04-15 01:05:45.989887,0,0,0

In [20]:
facts_metrics.shape

(4197562, 8)

In [59]:
facts_metrics.id.nunique()

4197562

In [29]:
facts_metrics.groupby('dimensions_item_id').size().describe()

count    487993.000000
mean          8.601685
std           2.666656
min           1.000000
25%          10.000000
50%          10.000000
75%          10.000000
max          10.000000
dtype: float64

In [52]:
facts_metrics.groupby('dimensions_date_id').size().describe()

count        10.000000
mean     419756.200000
std        1116.362327
min      417781.000000
25%      419089.500000
50%      420141.000000
75%      420554.500000
max      421005.000000
dtype: float64

In [64]:
facts_metrics[facts_metrics['dimensions_item_id']==3063339]

,id,dimensions_date_id,dimensions_item_id,created_at,updated_at,pageviews,unique_pageviews,feedex_comments
934545,30681861,2018-04-09,3063339,2018-04-10 13:04:50.487102,2018-04-10 13:04:50.487102,96,79,0
1402084,31099642,2018-04-08,3063339,2018-04-10 16:31:41.557328,2018-04-10 16:31:41.557328,34,29,0
1894435,31517903,2018-04-10,3063339,2018-04-11 01:00:10.599524,2018-04-11 01:00:10.599524,95,79,0
2390907,31936917,2018-04-11,3063339,2018-04-12 01:04:54.437760,2018-04-12 01:04:54.437760,81,67,0
2791599,32356233,2018-04-12,3063339,2018-04-13 01:00:59.367506,2018-04-13 01:00:59.367506,87,67,0

In [ ]:
facts_metrics.groupby(['dimensions_date_id', 'dimensions_item_id', 'id']).sum()

In [ ]:
facts_metrics.groupby('dimensions_item_id').sum()

In [30]:
facts_metrics.dimensions_item_id.nunique()

487993

In [31]:
facts_metrics.dimensions_date_id.nunique()

10

In [10]:
schema = pd.read_sql_query('select * from "schema_migrations"',con=engine)

In [21]:
schema.head()

          version
0  20161122145459
1  20161123141301
2  20161130153206
3  20161201111152
4  20161202101420

In [22]:
schema.shape

(113, 1)